# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
**/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Amplify
amplify_outputs.json
.amplify
amplify/backend-config.json

# Lambda function dependencies (to reduce file watcher noise)
amplify/functions/**/node_modules
amplify/functions/**/package-lock.json
